#footer{
    background-color: #48409C;
    padding: 140px 0 57px;
    .row{
        .item{
            img{
                margin-bottom: 44px;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 180%;
                color: #FEFEFE;
                width: 449px;
                font-family: "Nunito", serif;
            }
            h6{
                font-size: 18px;
                font-weight: 400;
                color: #FEFEFE;
                line-height: 180%;
                width: 315px;
                margin-top: 190px;
            }
        }
        .item_list{
            margin-left: 100px;
            h4{
                font-size: 24px;
                font-weight: 600;
                line-height: 140%;
                color: #FEFEFE;
                text-align: start;
                margin-bottom: 48px;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    font-size: 20px;
                    font-weight: 400;
                    color: #FEFEFE;
                    text-align: start;
                    font-family: "Nunito", serif;
                    margin-bottom: 30px;
                }
                
            }
            h6{
                font-size: 18px;
                font-weight: 400;
                color: #FEFEFE;
                line-height: 180%;
                width: 315px;
                margin-top: 190px;
            }
        }
        .item_list_1{
            margin-left: 190px;
            h4{
                font-size: 24px;
                font-weight: 600;
                line-height: 140%;
                color: #FEFEFE;
                text-align: start;
                margin-bottom: 48px;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    font-size: 20px;
                    font-weight: 400;
                    color: #FEFEFE;
                    text-align: start;
                    font-family: "Nunito", serif;
                    margin-bottom: 30px;
                }
            }
        }
    }
}