#plan{
    padding: 100px 0;
    background-color: #F9F9FB;
    h2{
        font-size: 48px;
        font-weight: 700;
        color: #141135;
        text-align: center;
    }
    .row{
        margin-top: 65px;
        .item{
            padding: 60px 0;
            background-color: #ffffff;
            text-align: center;
            border-radius: 20px;
            transition: .4s;
            &:hover{
                background-color: #6B62C5;
                cursor: pointer;
                h4{
                    color: #FAFAFE;
                }
                p{
                    color: #E6E5F3;
                }
            }
            h4{
                font-size: 30px;
                font-weight: 700;
                color: #141135;
                line-height: 36px;
                margin-bottom: 25px;
            }
            h5{
                margin-top: 20px;
                font-size: 48px;
                font-weight: 800;
                line-height: 50px;
                color: #1BBF00;
                sup{
                    font-size: 24px;
                }
            }
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                color: #726E9E;
                width: 219px;
                margin: 0 auto;
                font-family: "Paprika", serif;
            }
        }
    }
}